@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$Light-Grayish-Blue: hsl(233, 11%, 84%);
$Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
$Dark-Grayish-Blue: hsl(236, 9%, 61%);
$Bright-Blue: hsl(220, 98%, 61%);
$Check-Background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 15px;
  overflow: auto;
  margin: 0px;
  padding: 10px;
  font-size: 10px;
  background-color: transparent;
  width: 100%;
  height: auto;
  min-width: 260px;
}
.form {
  display: block;
  width: 100%;
}
.form-label {
  width: 20px;
  height: 20px;
  border: 1px;
}

.form > input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: $Very-Light-Gray;
  color: $Dark-Grayish-Blue;
}

li {
  list-style: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: $Very-Light-Gray;
  color: $Dark-Grayish-Blue;
}
.list-items {
  width: 100%;
  background: transparent;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 5px 27px 1px $Light-Grayish-Blue;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: $Very-Light-Gray;
  color: $Very-Dark-Grayish-Blue;
  margin: 0px;

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-right: 10px;
    //  make the img fit in the button
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  label {
    input[type='checkbox'] {
      appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: $Check-Background;
      border: none;
      outline: none;
      margin-right: 10px;
      cursor: pointer;
      &:checked {
        background: no-repeat center / 50% url('../../assets/icon-check.svg'), $Check-Background;
      }
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    align-content: center;
  }
  border-bottom: 1px solid $Dark-Grayish-Blue;
  border-radius: 0px;
}
.tracker {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  background-color: $Very-Light-Gray;
  color: $Very-Dark-Grayish-Blue;
  button {
    padding: 0;
    color: $Very-Dark-Grayish-Blue;
  }
  padding-right: 10px;
  padding-left: 10px;
}
.filters {
  background-color: $Very-Light-Gray;
  color: $Dark-Grayish-Blue;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  gap: 0px 10px;
  cursor: inherit;
  button {
    padding: 0;
    color: inherit;
    border: none;
    &:hover {
      color: $Very-Dark-Grayish-Blue;
    }
    &:focus {
      color: $Bright-Blue;
      border: none;
    }
    &:active {
      color: $Bright-Blue;
    }
    border-radius: 0px;
    font-weight: 700;
    font-size: 1px;
    font-size: 1.3em;
    outline: none;
  }
 
}
.completed {
  text-decoration: line-through;
}
.active {
  font-weight: bold;
  color: $Bright-Blue;
}
