@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$Light-Grayish-Blue: hsl(233, 11%, 84%);
$Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
$Dark-Grayish-Blue: hsl(236, 9%, 61%);
$Bright-Blue: hsl(220, 98%, 61%);
$Check-Background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
// dark mode
$Very-Dark-Blue: hsl(235, 21%, 11%);
$Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$Dark-Grayish-LightBlue: hsl(234, 39%, 85%);
$Dark-Gray: hsl(236, 33%, 92%); // HOVER
$Dark-Gray-Blue: hsl(234, 11%, 52%);
$Items-Border: hsl(233, 14%, 35%);
$Main-Background: hsl(237, 14%, 26%);

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 15px;
  overflow: auto;
  margin: 0px;
  padding: 10px;
  font-size: 10px;
  background-color: transparent;
  width: 100%;
  height: auto;
  min-width: 260px;
}
.form {
  display: block;
  width: 100%;
}
.form.dark > input {
  background-color: $Very-Dark-Desaturated-Blue;
}
.form-label {
  width: 20px;
  height: 20px;
  border: 1px;
}

.form > input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: inherit;
  font-family: 'Josefin Sans', sans-serif;
  background-color: $Very-Light-Gray;
  color: $Very-Light-Gray;
}

li {
  list-style: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 1.25em;
  font-family: 'Josefin Sans', sans-serif;
}
.list-items {
  width: 100%;

  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 15px 1px $Light-Grayish-Blue;
}
.list-items.dark {
  box-shadow: none;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-between;
  background-color: $Very-Light-Gray;
  color: $Very-Light-Gray;

  margin: 0px;
  border-bottom: 1px solid $Dark-Grayish-Blue;
  border-radius: 0px;
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-right: 10px;
    //  make the img fit in the button
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  label {
    input[type='checkbox'] {
      appearance: none;
      width: 22.5px;
      height: 22.5px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid $Very-Light-Grayish-Blue;
      outline: none;
      margin-right: 10px;
      cursor: pointer;

      &:checked {
        background: no-repeat center / 50% url('../../assets/icon-check.svg'), $Check-Background;
      }
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    justify-content: start;
    align-content: center;
    width: 100%;
    gap: 0px 7.5px;
    span {
      align-self: end;
    }
  }
}
.list-items.dark > ul > .item {
  background-color: $Very-Dark-Desaturated-Blue;
  border-bottom: 1px solid $Items-Border;
  label {
    input[type='checkbox'] {
      background: transparent;
      &:checked {
        background: no-repeat center / 50% url('../../assets/icon-check.svg'), $Check-Background;
      }
    }
  }
}

.tracker {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  background-color: $Very-Light-Gray;
  color: $Very-Dark-Grayish-Blue;
  button {
    padding: 0;
    color: $Very-Dark-Grayish-Blue;
    &:hover {
      outline: none;
    }
    border: 0px solid rgb(100, 108, 255);
  }
  padding-right: 10px;
  padding-left: 10px;
  // font size for large screens
  @media screen and (min-width: 768px) {
    font-size: 1.2em;
  }
}
.list-items.dark > .tracker {
  background-color: $Very-Dark-Desaturated-Blue;
}
// write a media query to show the filters

.filters {
  background-color: $Very-Light-Gray;
  color: $Dark-Grayish-Blue;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  gap: 0px 10px;
  // subtle box shadow
  box-shadow: 0 -5px 15px 1px $Light-Grayish-Blue;
  cursor: inherit;
  button {
    padding: 0;
    border: none;
    &:hover {
      color: $Very-Dark-Grayish-Blue;
    }
    &:focus {
      color: $Bright-Blue;
      border: none;
    }
    &:active {
      color: $Bright-Blue;
    }
    border-radius: 0px;
    font-weight: 700;
    font-size: 1.3em;
    outline: none;
    &.active {
      font-weight: bold;
      color: $Bright-Blue;
    }
  }

  border-radius: 5px;
}
.filters.dark {
  background: $Very-Dark-Desaturated-Blue;
  box-shadow: none;
  button {
    color: $Very-Dark-Grayish-Blue;
    &:focus {
      color: $Bright-Blue;
      border: none;
    }
    &:active {
      color: $Bright-Blue;
    }
  }
  button:hover {
    color: $Very-Light-Gray;
  }
}
.tracker > .filters {
  // no box  shadow
  box-shadow: none;
  background: transparent;
  width: 60%;
}
.completed {
  text-decoration: line-through;
  color: $Dark-Gray-Blue;
}
