$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$Light-Grayish-Blue: hsl(233, 11%, 84%);
$Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
$Dark-Grayish-Blue: hsl(236, 9%, 61%);
$mobile-light-img: url(./assets/bg-mobile-light.jpg);
$mobile-dark-img: url(./assets/bg-mobile-dark.jpg);
$desktop-light-img: url(./assets/bg-desktop-light.jpg);
$desktop-dark-img: url(./assets/bg-desktop-dark.jpg);

.container {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 5px;
  overflow: auto;

  height: 100%;
  width: 100%;
  min-width: 350px;
  max-width: 1280px;
  margin: 0px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
}
.light-theme {
  .container {
    background-color: $Very-Light-Grayish-Blue;
    background-image: $mobile-light-img;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    color: $Very-Light-Gray;
  }
}
.dark-theme {
  .container {
    background-color: $Very-Dark-Grayish-Blue;
    background-image: $mobile-dark-img;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    color: $Very-Light-Gray;
  }
}
.theme_button {
  padding: 0em;
}
.drag_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  background-color: transparent;
}
