$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$Light-Grayish-Blue: hsl(233, 11%, 84%);
$Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
$Dark-Grayish-Blue: hsl(236, 9%, 61%);
.container {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 5px;
  overflow: auto;
  height: 100%;
  width: 100%;
  min-width: 350px;
  margin: 0px;
  padding: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
}
.container.light-theme {
  $mobile-img: url(./assets/bg-mobile-light.jpg);
  $desktop-img: url(./assets/bg-desktop-light.jpg);
 background: $Very-Dark-Grayish-Blue $desktop-img top / contain no-repeat;
  color: $Very-Light-Gray;
}
.container.dark-theme {
  $mobile-img: url(./assets/bg-mobile-dark.jpg);
  $desktop-img: url(./assets/bg-desktop-dark.jpg);
 background: $Very-Dark-Grayish-Blue $desktop-img top / contain no-repeat;
  color: $Very-Light-Gray;
}
.theme_button {
  padding: 0em;
  &:hover,
  &:focus {
    outline: none;
  }
  border: 0px solid transparent;
}
.drag_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  background-color: transparent;
}
